<mat-card class="example-card">
    <mat-card-header>
            <mat-card-title> <b> Formulario de Contacto </b> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form action="">
            
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Nombre">
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Correo">
                </mat-form-field>
            </div>
            
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Mensaje">
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary">Enviar</button>

        </form>
    </mat-card-content>
</mat-card>