agm-map {
    height: 250px;
}

.even-index {
  background-color: #0000ff29;
}

.p-top-10 {
  padding-top: 10px;
}

.menu-span {
  padding: 0 14px;
  border-left: solid 1px #fff;
}

.menu-span:hover {
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}