<mat-toolbar color="primary">
  <mat-toolbar-row class="pr-0">
    <span class="menu-span" routerLink="/">{{title}}</span>
    <span class="example-spacer"></span>
    <ul>
      <li routerLinkActive="li-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">
        <span class="menu-span pl-5 pr-5">Lista</span>
      </li>
      <li routerLinkActive="li-active" routerLink="/ejercicio/directivas">
        <span class="menu-span pl-5 pr-5">Ejer. Direc.</span>
      </li>
      <li routerLinkActive="li-active" routerLink="/contacto">
          <span class="menu-span pl-5 pr-5">Contacto</span>
      </li>
      <li routerLinkActive="li-active" routerLink="/signin" *ngIf="!loggedIn">
          <span class="menu-span pl-5 pr-5">Login</span>
      </li>
      <li routerLinkActive="li-active" routerLink="/signup" *ngIf="!loggedIn">
          <span class="menu-span pl-5 pr-5">Register</span>
      </li>
      <li *ngIf="loggedIn">
          <span class="menu-span pl-5 pr-5"> {{ email }} </span>
          <span class="menu-span pl-5 pr-5" (click)="logout()">Logout</span>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- <app-lugar-list></app-lugar-list>
<app-lugar-detail></app-lugar-detail> -->

