agm-map {
    height: 250px;
}

.example-card {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.title-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-x {
  margin: auto 10px;
}