<mat-card class="example-card">
    <mat-card-header>
            <mat-card-title> <b> Formulario de Signup </b> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form action="">
            
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email">
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="password" name="password">
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" (click)="onSubmit()"> Registrarse </button>

        </form>
    </mat-card-content>
</mat-card>